[*.{cs,vb}]

# IDE0017: オブジェクトの初期化を簡略化します
dotnet_style_object_initializer = true:none

# IDE0017: オブジェクトの初期化を簡略化します
dotnet_diagnostic.IDE0017.severity = none

# IDE0140: オブジェクト作成を簡素化できます
dotnet_diagnostic.IDE0140.severity = silent
